@charset "UTF-8";
html.sp body.sample #jhs {
  position: relative; }
html.sp body.sample #jhs-links {
  overflow: hidden; }
  
  html.sp body.sample #jhs-links a {
    display: block;
    width: 198px;
    margin: 10px auto 0; }
    
    html.sp body.sample #jhs-links a:first-child {
      margin-top: 0; }
html.sp body.sample #cramschool {
  line-height: 3em; }
  
  html.sp body.sample #cramschool a {
    display: inline-block; }
html.sp body.sample .grid-2 .left {
  margin-top: 18px; }
html.sp body.sample .grid-2 img {
  width: 100%;
  height: auto; }