@charset "UTF-8";
html.pc body.sample #jhs {
  position: relative; }
html.pc body.sample #jhs-links {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  
  html.pc body.sample #jhs-links a {
    display: block;
    width: 198px;
    margin: 0 10px;
    float: left; }
