@charset "UTF-8";
html.sp body.opt #jhs {
  position: relative; }
html.sp body.opt #jhs-links {
  overflow: hidden; }
  html.sp body.opt #jhs-links a {
    display: block;
    width: 198px;
    margin: 10px auto 0; }
    html.sp body.opt #jhs-links a:first-child {
      margin-top: 0; }
html.sp body.opt #able {
  position: relative; }
html.sp body.opt #able-links {
  overflow: hidden; }
  html.sp body.opt #able-links a {
    display: block;
    width: 198px;
    margin: 10px auto 0; }
    html.sp body.opt #able-links a:first-child {
      margin-top: 0; }
html.sp body.opt #form-links {
  overflow: hidden; }
  html.sp body.opt #form-links a {
    display: block;
    width: 198px;
    text-align: center;
    margin: 10px auto 0; }
    html.sp body.opt #form-links a:first-child {
      margin-top: 0; }
html.sp body.opt #cramschool {
  line-height: 3em; }
  
  html.sp body.opt #cramschool a {
    display: inline-block; }
html.sp body.opt .grid-2 .left {
  margin-top: 18px; }
html.sp body.opt .grid-2 img {
  width: 100%;
  height: auto; }
html.sp body.opt #contact article {
  position: relative; }
html.sp body.opt #consult article {
  position: relative; }
html.sp body.opt #trial article {
  position: relative; }
html.sp body.opt #area article {
  position: relative; }
html.sp body.opt #primary article {
  position: relative; }
html.sp body.opt #juku article {
  position: relative; }
html.sp body.opt #junior article {
  position: relative; }
html.sp body.opt #senior article {
  position: relative; }
html.sp body.opt #specific article {
  position: relative; }
html.sp body.opt #internet article {
  position: relative; }
html.sp body.opt #vote article {
  position: relative; }
html.sp body.opt #voice article {
  position: relative; }
html.sp body.opt #step article {
  position: relative; }
html.sp body.opt #price article {
  position: relative; }
html.sp body.opt #faq article {
  position: relative; }
html.sp body.opt #search article {
  position: relative; }
html.sp body.opt #safety article {
  position: relative; }
html.sp body.opt #interview article {
  position: relative; }
html.sp body.opt #company article {
  position: relative; }
html.sp body.opt #recruit article {
  position: relative; }
html.sp body.opt #staff article {
  position: relative; }
html.sp body.opt #tutor article {
  position: relative; }
html.sp body.opt #privacy article {
  position: relative; }
html.sp body.opt #sitemap article {
  position: relative; }
html.sp body.opt #offer article {
  position: relative; }

html.sp body.opt .tx_r {
  text-align: right; }
html.sp body.opt .tx_c {
  text-align: center; }
html.sp body.opt .strong {
    font-weight: bold; }

html.sp body.opt ul.list_tutor {
    width: 100%;
    display: table-cell;
}
html.sp body.opt ul.list_tutor li {
    float: left;
    width: 18.33333%;
    margin: 0 0.83333% 10px;
    box-sizing: border-box;
}
html.sp body.opt ul.list_tutor li:nth-child(6), html.sp body.opt ul.list_tutor li:nth-child(7), html.sp body.opt ul.list_tutor li:nth-child(8) {
    display: none;
}
html.sp table.list_tutor td.thumb {
    width: 100px;
    box-sizing: border-box;
}

html.sp .paragraph-title-noind {
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4375; }
  html.sp .paragraph-title-noind:after {
    top: 3px; }

html.sp #form_privacy {
	overflow: scroll;
	overflow-x: hidden;
	height: 100px;
	background-color: #fffcf7;
	border: 1px solid #f0f0f0;
	font-size: 90%;
	margin: 0;
	padding: 10px;
}
