@charset "UTF-8";
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

html.pc body.opt #jhs {
  position: relative; }
html.pc body.opt #jhs-links {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  
  html.pc body.opt #jhs-links a {
    display: block;
    width: 198px;
    margin: 0 10px;
    float: left; }
html.pc body.opt #able {
  position: relative; }
html.pc body.opt #able-links {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  html.pc body.opt #able-links a {
    display: block;
    width: 198px;
    margin: 0 10px;
    float: left; }
html.pc body.opt #form-links {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
html.pc body.opt #form-links a {
    display: block;
    width: 198px;
    margin: 0 10px;
    text-align: center;
    float: left; }

html.pc body.opt #contact article {
  position: relative; }
html.pc body.opt #consult article {
  position: relative; }
html.pc body.opt #trial article {
  position: relative; }
html.pc body.opt #area article {
  position: relative; }
html.pc body.opt #primary article {
  position: relative; }
html.pc body.opt #juku article {
  position: relative; }
html.pc body.opt #junior article {
  position: relative; }
html.pc body.opt #senior article {
  position: relative; }
html.pc body.opt #specific article {
  position: relative; }
html.pc body.opt #internet article {
  position: relative; }
html.pc body.opt #vote article {
  position: relative; }
html.pc body.opt #voice article {
  position: relative; }
html.pc body.opt #step article {
  position: relative; }
html.pc body.opt #price article {
  position: relative; }
html.pc body.opt #faq article {
  position: relative; }
html.pc body.opt #search article {
  position: relative; }
html.pc body.opt #safety article {
  position: relative; }
html.pc body.opt #interview article {
  position: relative; }
html.pc body.opt #company article {
  position: relative; }
html.pc body.opt #recruit article {
  position: relative; }
html.pc body.opt #staff article {
  position: relative; }
html.pc body.opt #tutor article {
  position: relative; }
html.pc body.opt #privacy article {
  position: relative; }
html.pc body.opt #sitemap article {
  position: relative; }
html.pc body.opt #offer article {
  position: relative; }

html.pc body.opt .tx_r {
  text-align: right; }
html.pc body.opt .tx_c {
  text-align: center; }
html.pc body.opt .strong {
    font-weight: bold; }

.f400 {
    font-size: 400%;
}
.f350 {
    font-size: 350%;
}
.f300 {
    font-size: 300%;
}
.f250 {
    font-size: 250%;
}
.f200 {
    font-size: 200%;
}
.f150 {
    font-size: 150%;
}

.tx_white {
    color: #fff; }
.tx_red {
    color: #d40b1e; }
.tx_orange {
    color: #f88100; }
.tx_green {
    color: #17a23e; }
.tx_pink {
    color: #f1487e; }
.tx_sky {
    color: #1d9ec1; }
.tx_gray {
    color: #bbbbbb; }

/*
色指定 "style.css" "style-sp.css" に記載
.bg-red, .border-red, .bg-red-middle, .bg-red-light
.bg-orange, .border-orange, .bg-orange-middle, .bg-orange-light
.bg-green, .border-green, .bg-green-middle, .bg-green-light
.bg-pink, .border-pink, .bg-pink-middle, .bg-pink-light
.bg-sky, .border-sky, .bg-sky-middle, .bg-sky-light
*/

hr {
    border: 0;
    border-bottom: 1px #ccc dashed;
    margin: 0 10px;
}

.list_2col {
width: 100%;
border-collapse: collapse;
}
.list_2col th {
width: 30%;
padding: 10px;
text-align: left;
vertical-align: middle;
color: #333;
background-color: #eee;
border: 1px solid #ccc;
}
.list_2col th:last-child {
width: 70%;
}
.list_2col td {
padding: 10px;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
}
.list_3col {
width: 100%;
border-collapse: collapse;
}
.list_3col th {
width: 35%;
padding: 10px;
text-align: left;
vertical-align: middle;
color: #333;
background-color: #eee;
border: 1px solid #ccc;
}
.list_3col th:first-child {
width: 30%;
}
.list_3col td {
padding: 10px;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
}
ul.list_area {
    width: 100%;
    display: table-cell;
}
ul.list_area li {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
.list_price {
width: 100%;
border-collapse: collapse;
}
.list_price th {
padding: 10px;
text-align: left;
vertical-align: middle;
border: 1px solid #ccc;
}
.list_price th small {
    font-size: 80%;
}
.list_price td {
    width: 30%;
    padding: 10px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}
.list_price td small {
    font-size: 80%;
}
.list_price td:first-child {
    width: 40%;
}
html.pc body.opt ul.list_tutor {
    width: 100%;
    display: table-cell;
}
html.pc body.opt ul.list_tutor li {
    float: left;
    width: 78px;
    margin: 0 8px 10px 0;
    box-sizing: border-box;
}
html.pc body.opt ul.list_tutor li:last-child {
    margin: 0 0 10px 0;
}
html.pc body.opt ul.list_tutor li img {
    width: 100%;
}
table.list_tutor {
    width: 100%;
    border-collapse: collapse;
}
table.list_tutor td {
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #fff;
}
table.list_tutor td:first-child {
    width: 24%;
}
html.pc table.list_tutor td.thumb {
    width: 140px;
    box-sizing: border-box;
}
table.list_offer {
    width: 100%;
    border-collapse: collapse;
}
table.list_offer td {
    width: 25%;
    padding: 10px;
    vertical-align: middle;
    border: 1px solid #fff;
}

.list_company {
width: 100%;
border-collapse: collapse;
}
.list_company td {
width: 30%;
padding: 10px;
vertical-align: middle;
background-color: #fff;
border-bottom: 1px solid #ccc;
}
.list_company td:last-child {
width: 70%;
}
.list_recruit {
width: 100%;
border-collapse: collapse;
}
.list_recruit td {
width: 30%;
padding: 10px;
vertical-align: middle;
background-color: #fff;
border-right: 1px dashed #ccc;
}
.list_recruit td:last-child {
width: 70%;
border-right: none;
}
.list_form2col {
width: 100%;
border-collapse: collapse;
}
.list_form2col td {
width: 30%;
padding: 10px;
vertical-align: middle;
background-color: #fff;
border-bottom: 1px solid #ccc;
}
.list_form2col td:last-child {
width: 70%;
}
.list_form2col td .unit {
    float: left;
    width: 50%;
}

html.pc .section-title-noind {
  position: relative;
  padding-left: 0;
  font-size: 32px;
  border-bottom: solid 3px #d40b1e; }
  html.pc .section-title-noind:after {
    top: 17px; }
html.pc .column-title-noind {
  position: relative;
  padding-left: 0;
  font-size: 24px; }
  html.pc .column-title-noind:after {
    top: 11px; }
html.pc h4.paragraph-title-noind {
  position: relative;
  padding-left: 0;
  font-size: 18px; }
  html.pc h4.paragraph-title-noind:after {
    top: 6px; }
html.pc .section-title-noind, html.pc .column-title-noind, html.pc .paragraph-title-noind {
  line-height: 1.4375; }

input, textarea, select {
    padding: 5px;
    margin: 5px;
    border: 1px #ccc solid;
    border-radius: 3px;
}
input.width-full {
    width: 100%;
    box-sizing:border-box;
}
input.width-90 {
    width: 90%;
    box-sizing:border-box;
}
textarea {
    width: 100%;
    resize: vertical;
    box-sizing:border-box;
}

html.pc #form_privacy {
	overflow: scroll;
	overflow-x: hidden;
	height: 150px;
	background-color: #fffcf7;
	border: 1px solid #f0f0f0;
	font-size: 90%;
	margin: 0;
	padding: 10px;
}

input.btn-submit {
    width: 218px;
    height: 38px;
}

label {
    cursor: pointer !important;
}

span.require {
    float: right;
    padding: 2px 5px;
    font-size: 75%;
    background: #d40b1e;
    color: #fff;
    font-weight: normal;
    border-radius: 3px;
    display: block;
}
small.voice_year {
    float: right;
    color: #999;
    margin-top: 10px;
    font-weight: normal;
}

.more {
	background: -moz-linear-gradient(top,#fff 0%,#eee);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	border: 1px solid #ccc;
	width: 200px;
	text-align: center;
    border-radius: 5px;
	padding: 10px 0;
    margin: 20px auto;
	cursor: pointer;
}
