@charset "utf-8";
/*■■■■■■■■■■■■■■■■■■■■■■
　　共通設定
■■■■■■■■■■■■■■■■■■■■■■*/

/*
ベースカラー設定　青　で設定されています。
検索置き換えなどを使用して、（#40a5ec）を変更調整して使用してください。
*/

/*------------------------------------------
■ CSS初期設定
------------------------------------------*/
html {
	color: #000;
	background: #FFF;
}
* {
	margin: 0;
	padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
img {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
th, td {
	border: 1px solid #000;
	padding: .5em;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
input, textarea, select {
	font-size: inherit;
	font-weight: inherit;
 *font-size:100%;
	max-width:100%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/*------------------------------------------
■ リンク設定
------------------------------------------*/
a img {
	border: none;
}
a {
	color: #0066cc;
	text-decoration: none;
}
a:hover {
	color: #FF3399;
	text-decoration: none;
}
a:visited {
	color: #993399;
	text-decoration: underline;
}
/*------------------------------------------
■ リンク画像のhover半透明化設定
------------------------------------------*/
a:hover img {
	opacity: 0.85;/*--IE,FF対応--*/
	filter: alpha(opacity=85);
	-ms-filter: "alpha( opacity=85)";
}
/*------------------------------------------
■ float対策
------------------------------------------*/
.fcl {
	zoom: 100%;
}
.fcl:after {
	content: " ";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
/*------------------------------------------
■ 画像回り込み
------------------------------------------*/
.img_left {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.img_right {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}
.img_center {
	display: block;
	margin: 0 auto;
	clear: both;
}
.size_s {
}
.size_m {
	border: 2px solid #FFFFFF;
	box-shadow: 3px 3px 3px #CCCCCC;
}
.size_l {
}
.max_w {
}
/*------------------------------------------
■ テキスト装飾
------------------------------------------*/
.txt_bold{font-weight:bold;}
.txt_small{font-size:90%;}
.txt_big{font-size:120%;}
.txt_big2{font-size:140%;}
.txt_right{text-align:right;}
.txt_red{color:#cc0000;}
.txt_blue{color:#0066cc;}
.txt_keycolor{color:#40a5ec;}
.txt_marker{background-color:#FFFF00;}
.txt_underline{border-bottom:#cccccc 1px dotted;margin-bottom:2px;}
.txt_center{text-align:center;}


/*------------------------------------------
■ テキスト間隔
------------------------------------------*/
.txt_mt10{margin-top:10px;}
.txt_mt20{margin-top:20px;}
.txt_mt30{margin-top:30px;}
.txt_mb10{margin-bottom:10px;}
.txt_mb20{margin-bottom:20px;}
.txt_mb30{margin-bottom:30px;}


/*------------------------------------------
■ 枠　1.枠なし　２～４枠のみ　５～７バック有
------------------------------------------*/
.circle{padding:20px; margin:0 10px;}
.circle2{border: dotted 2px #D6EAD4; padding:10px 20px; margin:20px auto; clear:both;}
.circle3{border: dotted 2px #D1ECF8; padding:10px 20px; margin:20px auto; clear:both;}
.circle4{border: dotted 2px #fbdac6; padding:10px 20px; margin:20px auto; clear:both;}
.circle5{border: dotted 2px #bbb3d8; padding:10px 20px; margin:20px auto; clear:both;}
.circle6{border: dotted 2px #f7c9dd; padding:10px 20px; margin:20px auto; clear:both;}


/*------------------------------------------
■ PC・スマホ切り替え用
------------------------------------------*/
.pc_none {
	display: none;
}
.sp_none {
}
/*■■■■■■■■■■■■■■■■■■■■■■
　　各コンテンツ　【　基本設定　】
■■■■■■■■■■■■■■■■■■■■■■*/
/*------------------------------------------
■ メイン設定(基本枠組)
------------------------------------------*/
html {
	background-color: #F1FBFD;
/*----	
background:url(../img/body_bg.jpg) repeat-x fixed center 0 #ffffff;
--*/
}
body {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Geneva, Arial, Verdana, sans-serif;
	color: #333333;
	font-size: 18px;
	line-height: 180%;
}
#wrap {
	background: url("../img/wrap_bg.png") repeat-y scroll center 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
 min-width:930px
}
#frame {
	width: 920px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
}
#main {
	width: 840px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

/*------------------------------------------
■　section, box, txt_area
------------------------------------------*/
.section {
	clear: both;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top: 20px;
}
.box {
	margin: 0px auto;
	clear: both;
}

.box2 {
	background: url("../img/voice02.jpg") no-repeat scroll center 0 transparent;
	padding:0px;
 height:1397px;
}

.box2b {
	background: url("../img/voice02b.jpg") no-repeat scroll center 0 transparent;
	padding:0px;
 height:2061px;
}

.box3 {
 background-color:#fffbcc;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 2px #CCCCCC;
padding:20px 0;
}

.box_bg {
	background: url("../img/bg03.gif") repeat scroll center 0 transparent;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 2px #CCCCCC;
	margin: 20px auto 40px;
	padding: 20px 20px;
}
.box_border {
	background-color: #FCFAF8;
	border: 5px double #CCCCCC;
	margin: 20px auto;
	padding: 20px 20px;
}

.back_bg {
	background: url("../img/scene01.jpg") no-repeat scroll center 0 transparent;
	margin: 0px auto;
	clear: both;
	height:456px;
}


.back_bg2 {
	background: url("../img/promise.jpg") no-repeat scroll center 0 transparent;
	margin: 0px auto;
	clear: both;
	height:992px;
 font-size:16px;
}

.phot_move{
 }
.reason{
padding:20px;
width:600px;
color:#fff;
font-size:20px;
line-height:200%;
text-shadow:0px 2px 2px #333333;
}


.com{
	background: url("../img/com.jpg") no-repeat scroll left 0 transparent;
 width:253px;
 height:110px;
 float:left;
 }
.com_txt{
 font-size:25px;
 font-weight:bold;
 text-align:center;
 padding-top:42px; 
}
.com_txt2{
 font-size:25px;
 font-weight:bold;
 text-align:center;
 padding-top:28px; 
}

.reason2{
 position:relative;
 top:167px;
 left:20px;
 width:780px;
 }
.txt_area3 {
 clear:both;
	padding: 0px;
}


.txt_area {
	padding: 0px;
}

.txt_area4 {
    left: 231px;
    padding: 0;
    position: relative;
    top: 35px;
    width: 580px;
    font-size:16px;
    line-height:190%;
}


.txt_area2 {
 background-color:#fff;
	padding: 20px;
 border-radius:5px;
}


.txt_area0 {
	padding: 0px;
	width:825px;
	margin:0 auto;
}
.txt_area_bg {
	background-color: #fdfbf6;
	border: 1px solid #d5cfba;
	padding: 10px 20px;
	margin: 10px auto;
}
.txt_area_border {
	background-color: #FFFFFF;
	border: 1px solid #D5CFBA;
	padding: 10px 20px;
	margin: 10px auto;
}

/*------------------------------------------
■ h1エリア
------------------------------------------*/
h1 {
	background-color: #40a5ec;
	color: #FFFFFF;
	font-size: 12px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	line-height: 25px;
	height: 25px;
}
.h1_txt {
	display: block;
	width: 840px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
}
/*------------------------------------------
■ ヘッダーエリア
------------------------------------------*/
#header {
	height: 85px;
	padding: 0;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #40a5ec;
	background-color: #FFF;
}
#header_in {
	background: url("../img/header.gif") no-repeat scroll center 0 transparent;
	height: 85px;
	padding: 0px;
	width: 900px;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header_in .header_tel {
}
#header_in .header_tel_number {
	left: 451px;
	position: absolute;
	top: 31px;
	color: #000000;
	display: block;
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	text-indent: 30px;
	white-space: nowrap;
	cursor: default;
}
#header_in .header_btn {
	left: 688px;
	position: absolute;
	top: 14px;
}
/*------------------------------------------
■TOP画像エリア
------------------------------------------*/
#top {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-attachment: scroll;
	background-image: url(../img/top.jpg);/*横幅広いTOP用に背景化しています。*/
	background-repeat: no-repeat;
	background-position: center 0px;
	height: 500px;
}
#top h2 {
	display: none;
}
/*------------------------------------------
■オーダー（お申込み）エリア
------------------------------------------*/
.order {
	background: url(../img/order.jpg) no-repeat center top;
	padding: 0;
	height: 400px;
	position: relative;
	clear: both;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}
.order_area {
}

h4.copy {
	display: none;
}


/*　▼営業時間▼　*/
.order p.txt_cap, .order p.order_time {
	display: none;
}
/*　▼TEL番号エリア▼　*/
.order_tel {
}
.order a.txt_tel {
	left: 77px;
	position: absolute;
	top: 317px;
	white-space: nowrap;
	color: #000000;
	display: block;
	font-size: 34px;
	font-weight: bold;
	line-height: 100%;
	cursor: default;
}
/*　▼ボタンエリア▼　*/
.order_mail {
    display: block;
    left: 356px;
    position: absolute;
    top: 295px;
}
.order_btn {
}
.plain {
	white-space: nowrap;
}
/*------------------------------------------
■ h3タイトル
------------------------------------------*/

/*▼タイトルをテキストにする場合①（左寄せ）はコチラ
h3.title {
	clear: both;
	color: #FFFFFF;
	display: block;
	font-size: 34px;
	letter-spacing: 0.05em;
	line-height: 130%;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	height: auto;
	text-shadow: 1px 1px 1px #666666;
	box-shadow: 0px 3px 3px #CCCCCC;
	padding: 20px 10px 20px 80px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../img/title_bg.gif);
	background-repeat: no-repeat;
	background-position: left center;
}*/

/*▼タイトルをテキストにする場合②（センタリング）はコチラ
h3.title {
	background: url("../img/title_bg2.gif") no-repeat scroll center 0 transparent;
	clear: both;
	color: #FFFFFF;
	display: block;
	font-size: 34px;
	letter-spacing: 0.05em;
	line-height: 150%;
	text-align: center;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	text-shadow: 1px 1px 1px #666666;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #CCCCCC;
	height: auto;
	padding: 10px;
}*/


/*▼タイトルを画像にする場合はコチラ*/
h3.title {
	clear: both;
	display: block;
	height: 115px;
	margin: 10px auto 0;
	text-indent: -4000px;
}
h3.t_001 {
	background: url("../img/title_001.gif") no-repeat scroll center 0 transparent;
}
h3.t_002 {
	background: url("../img/title_002.gif") no-repeat scroll center 0 transparent;
}
h3.t_003 {
	background: url("../img/title_003.gif") no-repeat scroll center 0 transparent;
}
h3.t_004 {
	background: url("../img/title_004.gif") no-repeat scroll center 0 transparent;
}
h3.t_005 {
	background: url("../img/title_005.gif") no-repeat scroll center 0 transparent;
}
h3.t_006 {
	background: url("../img/title_006.gif") no-repeat scroll center 0 transparent;
}
h3.t_007 {
	background: url("../img/title_007.gif") no-repeat scroll center 0 transparent;
}
h3.t_008 {
	background: url("../img/title_008.gif") no-repeat scroll center 0 transparent;
}
h3.t_009 {
	background: url("../img/title_009.gif") no-repeat scroll center 0 transparent;
}
h3.t_010 {
	background: url("../img/title_010.gif") no-repeat scroll center 0 transparent;
}
h3.t_011 {
	background: url("../img/title_011.gif") no-repeat scroll center 0 transparent;
}
h3.t_012 {
	background: url("../img/title_012.gif") no-repeat scroll center 0 transparent;
}
h3.t_013 {
	background: url("../img/title_013.gif") no-repeat scroll center 0 transparent;
}
h3.t_014 {
	background: url("../img/title_014.gif") no-repeat scroll center 0 transparent;
}
h3.t_015 {
	background: url("../img/title_015.gif") no-repeat scroll center 0 transparent;
}
/*------------------------------------------
■ サブタイトル装飾（基本値）
------------------------------------------*/
.sub_title_a {
	border-left: 8px solid #40a5ec;
	font-size: 20px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding-left: 10px;
}
.sub_title_a3 {
	border-left: 8px solid #BBB3D8;
	font-size: 20px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding-left: 10px;
}
.sub_title_b {
	border-bottom: 3px solid #40a5ec;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding: 5px 0;
}

.sub_title_b_2{
background-image: url("../img/icon02.gif");
background-position: left center;
background-repeat: no-repeat;
border-bottom: 1px dotted #53652b;
font-size: 25px;
line-height: 130%;
margin: 0px auto 20px ;
padding: 7px 0 5px;
text-indent:30px;
}

.sub_title_c2 {
	border-bottom: 1px solid #D6EAD4;
	border-left: 10px solid #D6EAD4;
	font-size: 21px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding: 0 15px 5px;
}

.sub_title_c3 {
	border-bottom: 1px solid #ff9000;
	border-left: 10px solid #ff9000;
	font-size: 21px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding: 0 15px 5px;
}

.sub_title_c4 {
	border-bottom: 1px solid #fbdac6;
	border-left: 10px solid #fbdac6;
	font-size: 21px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding: 0 15px 5px;
}

.sub_title_c5 {
	border-bottom: 1px solid #bbb3d8;
	border-left: 10px solid #bbb3d8;
	font-size: 21px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding: 0 15px 5px;
}

.sub_title_c6 {
	border-bottom: 1px solid #f7c9dd;
	border-left: 10px solid #f7c9dd;
	font-size: 21px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding: 0 15px 5px;
}

.sub_title_c {
	border-bottom: 1px solid #40a5ec;
	border-left: 10px solid #40a5ec;
	font-size: 22px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto;
	padding: 0 15px 5px;
}
.sub_title_d {
	background-color: #FAAF5C;
	box-shadow: 0px 0px 2px #666666;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 130%;
	margin: 20px auto 0;
	padding: 10px 25px 6px;
 font-weight:bold;
 text-align:center;
}
.sub_title_e {
	font-family: "HGP創英角ｺﾞｼｯｸUB";
	font-size: 32px;
	line-height: 130%;
	margin: 0;
	padding: 5px 0 6px;
}
.sub_title_f {
	background-color: #F8F3E7;
	border-left: 15px solid #40a5ec;
	box-shadow: 1px 1px 1px #CCCCCC;
	color: #000000;
	font-size: 28px;
	line-height: 130%;
	margin: 10px 0 15px;
	padding: 8px 20px 6px;
}
.sub_title_bg {
	background: url("../img/sub_title_bg.gif") no-repeat scroll center 0 transparent;
	font-size: 30px;
	font-weight: bold;
	height: 64px;
	line-height: 262%;
	padding-left: 60px;
}

.sub_title_x {
	background-color: #40a5ec;
 color:#ffffff;
	font-size: 22px;
	font-weight: bold;
	line-height: 130%;
	margin: 10px auto 0px;
	padding: 10px 15px 5px;
}





/*■■■■■■■■■■■■■■■■■■■■■■
　　流用コンテンツ　【　良く使うカテゴリ　】
■■■■■■■■■■■■■■■■■■■■■■*/

/*------------------------------------------
■ リストのチェックアイコン
------------------------------------------*/
ul {
	list-style: none outside none;
}
ul li.icon_check {
	background: url("../img/icon_check.png") no-repeat scroll 0 0;
	padding-left: 34px;
}
/*------------------------------------------
■ list_box
------------------------------------------*/
.list_box_01 {
	background: url("../img/list_box_01.jpg") no-repeat scroll center 0 transparent;
	height: 486px;
}
.list_box_01 ul {
	line-height: 180%;
	margin: 0 30px;
	width: 470px;
	padding: 53px 10px;
}
.list_box_01 ul li.icon_check {
	background: url("../img/icon_check.png") no-repeat scroll 0 0 transparent;
	font-size: 22px;
	font-weight: bold;
	line-height: 90%;
	list-style: none outside none;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 6px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
/*------------------------------------------
■ 特徴BOX
------------------------------------------*/
.box_m {
	background-color: #DEDBB7;
	border-radius: 10px 10px 10px 10px;
	margin: 0;
	padding: 0 0 30px;
}

.box_m2 {
	background-color: #FAAF5C;
	border-radius: 10px 10px 10px 10px;
	margin: 0;
	padding: 20px;
 box-shadow:0px 2px 2px #ccc;
}

.box_m3 {
	background-color: #7bc9ff;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 20px;
	padding: 20px;
 box-shadow:0px 2px 2px #ccc;
}

.box_m4 {
	background-color: #d1ecf8;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 20px;
	padding: 20px;
 box-shadow:0px 2px 2px #ccc;
}

.box_m5 {
	background-color: #fbdac6;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 40px;
	padding: 20px;
 box-shadow:0px 2px 2px #ccc;
}

.box_m6 {
	background-color: #bbb3d8;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 40px;
	padding: 20px;
 box-shadow:0px 2px 2px #ccc;
}



.box_m7 {
	background-color: #f7c9dd;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 40px;
	padding: 20px;
 box-shadow:0px 2px 2px #ccc;
}


.box_m_txt {
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	margin: 0 30px;
	padding: 20px 20px 10px;
 width:740px;
}
.box_m_set {
	border-bottom: 1px dotted #CCCCCC;
	margin: 10px auto;
	padding-bottom: 5px;
}
.sub_title_m {
	border-bottom: 3px solid #F48500;
	color: #432C25;
	font-family: "HGP創英角ｺﾞｼｯｸUB";
	font-size: 28px;
	letter-spacing: 0.05em;
	line-height: 130%;
	margin: 0 auto 5px;
	padding-bottom: 5px;
}
.m_block {
	display: none;
	background-color: #F4F5E0;
	border-left: 10px solid #ef061c;
	box-shadow: 1px 1px 1px #999999;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Geneva, Arial, Verdana, sans-serif;
	font-size: 22px;
	margin-right: 15px;
	padding: 3px 20px 0;
}
.p_icon {
	width: 120px;
	margin-right: 10px;
}
/*------------------------------------------
■ box_e
------------------------------------------*/
.box_e {
	background-color: #40a5ec;
	border-radius: 5px 5px 5px 5px;
	margin: 30px auto;
	padding: 20px 20px 15px;
}
.box_e_title {
	color: #FFFFFF;
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
.box_e .box_e_in {
	background: none repeat scroll 0 0 #FCF8F2;
	line-height: 140%;
	margin-top: 20px;
	padding: 15px 40px 20px;
	text-align: left;
}
/*------------------------------------------
■ フロートボックス
width: 216px;にすれば、横に3つ並びますよ！ <
------------------------------------------*/
.con2_1, .con2_2, .con2_3, .con2_4 {
	background-color: #FDFBF6;
	border: 1px solid #D5CFBA;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 2px 2px 2px #CCCCCC;
	float: left;
	height: 150px;
	margin: 10px;
	padding: 10px 20px;
	width: 358px;
}
.con2_title {
	border-bottom: 3px dotted #40a5ec;
	display: block;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 6px;
	padding-top: 10px;
}
/*------------------------------------------
■ 新要素　グリッドデザイン（新フロートボックス）
------------------------------------------*/
.gd_box {
	letter-spacing: -0.34em;
*letter-spacing:normal;
*word-spacing:-0.43em;
	text-rendering: optimizespeed;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;
}
.gd_1-2, .gd_1-3, .gd_2-3, .gd_1-4, .gd_3-4 {
	display: inline-block;
*display:inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}
.gd_1-2 {
	width: 50%;
 *width: 49.9690%;
}
.gd_1-3 {
	width: 33.3333%;
 *width: 33.3023%;
}
.gd_2-3 {
	width: 66.6667%;
 *width: 66.6357%;
}
.gd_1-4 {
	width: 25%;
 *width: 24.9690%;
}
.gd_3-4 {
	width: 75%;
 *width: 74.9690%;
}
/*------------------------------------------
■ POINT
------------------------------------------*/
.point_title {
	border-bottom: 2px dotted #40a5ec;
	color: #AA0000;
	font-size: 22px;
	font-weight: bold;
	margin-left: 0px;
	padding-bottom: 5px;
	padding-top: 10px;
}
/*------------------------------------------
■ STEP
------------------------------------------*/
.step_area {
	background-color: #FFFFFF;
	border: 10px solid #DEDBB7;
	margin: 20px auto;
	padding: 20px;
}
.step_title {
	background-color: #FFFFFF;
	border-bottom: 2px dashed #f48500;
	border-top: 2px dashed #f48500;
	color: #412C1B;
	font-family: "HGP創英角ｺﾞｼｯｸUB";
	font-size: 28px;
	letter-spacing: 0.04em;
	line-height: 180%;
	margin: 10px 0;
	padding: 0;
}
.s_block {
	background-color: #f48500;
	border-radius: 30px;
	box-shadow: 1px 1px 1px #666666;
	color: #FFFFFF;
	font-size: 20px;
	margin-right: 15px;
	padding: 6px 30px;
}
/*------------------------------------------
■ お客様の声
------------------------------------------*/
.voice_area {
    background: url("../img/bg03.gif") repeat scroll center 0 transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #cccccc;
    margin: 20px auto 0;
    padding: 10px 20px;
    width:800px;
    box-shadow:0px 0px 10px #ccc;
}

.voice {
    background: url("../img/voice_bg.gif") repeat scroll 0 0 transparent;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    font-size: 96%;
    line-height: 160%;
    margin: 15px auto 10px;
    padding: 10px 0px;
}
/*------------------------------------------
■ 良くある質問
------------------------------------------*/
.faq {
	background-color: #FDFBF6;
	border: 1px solid #D5CFBA;
	margin: 10px auto;
	padding: 10px 30px 20px;
}
.faq_q {
	border-bottom: 3px solid #40a5ec;
	color: #40a5ec;
	font-size: 20px;
	font-weight: bold;
	line-height: 140%;
	margin: 10px auto;
	padding: 0 0 5px;
}
.faq_a {
	line-height: 180%;
	margin: 10px auto;
	padding: 0;
	font-size: 16px;
}

.faq2{
 background-color: #FDFBF6;
 border: 1px solid #D5CFBA;
 margin: 10px auto;
 padding: 10px 30px 20px;
}

.faq_q2{
 background: url("../img/icon_q.gif") no-repeat scroll 0 0 transparent;
 border-bottom: 3px solid #319FC8;
 color: #319FC8;
 font-size: 20px;
 font-weight: bold;
 line-height: 180%;
 margin: 10px auto;
 padding: 0 0 5px;
 text-indent:40px;
}

.faq_a2{
 background: url("../img/icon_a.gif") no-repeat scroll 0 0 transparent;
 line-height: 200%;
 margin: 10px auto;
 padding: 0;
 font-size:16px;
 text-indent:40px;
}

/*------------------------------------------
■ ブロック
------------------------------------------*/
.block_left {
	background-color: #EFEFEF;
	float: left;
	width: 40%;
}
.block_right {
	background-color: #cccccc;
	float: right;
	width: 60%;
}
.room {
	padding: 15px;
}

.block_left2 {
	float: left;
	width: 52%;
 margin:20px 0 5px;
}
.block_right2 {
	float: right;
	width: 43%;
 margin:10px 0 5px;
}

.block_left3 {
	float: left;
	width: 61%;
 margin:10px 0 5px;
}
.block_right3 {
	float: right;
	width: 38%;
 margin:3px 0 5px;
}

/*------------------------------------------
■ アクセス
------------------------------------------*/
.map_area {
	font-size: 16px;
	line-height: 100%;
	text-align: right;
}
.map_in {
	display: block;
	height: 247px;
	margin: 0 auto;
	width: 100%;
}

.map_area2 {
    left: 609px;
    position: absolute;
    top: 523px;
}
.map_in2 {
	display: block;
}

/*------------------------------------------
■ テーブル
------------------------------------------*/
.table00 {
	font-size: 16px;
	margin: 15px auto 20px;
	width: 100%;
}
.table00 th {
	background-color: #EFEFEF;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
}
.table00 td {
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
}

.table01 {
	font-size: 16px;
	margin: 15px auto 20px;
	width: 100%;
}
.table01 th {
	background-color: #D6EAD4;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
 width:25%;
 
}
.table01 td {
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
}
.table01 th.th01 {
	width: 25%;
	text-align: center;
}
.table01 td.td_c {
	text-align: center;
}
.table01 td.td_r {
	text-align: right;
}

.table02 {
	font-size: 16px;
	margin: 15px auto 20px;
	width: 100%;
}
.table02 th {
	background-color: #D1ECF8;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
 width:25%;
}
.table02 td {
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
}

.table03 {
	font-size: 16px;
	margin: 15px auto 20px;
	width: 100%;
}
.table03 th {
	background-color: #FBDAC6;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
 width:25%;
}
.table03 td {
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
}

.table04 {
	font-size: 16px;
	margin: 15px auto 20px;
	width: 100%;
}
.table04 th {
	background-color: #bbb3d8;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
 width:25%;
}
.table04 td {
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
}


.table05 {
	font-size: 16px;
	margin: 15px auto 20px;
	width: 100%;
}
.table05 th {
	background-color: #f7c9dd;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
 width:25%;
}
.table05 td {
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
}
/*------------------------------------------
■ youtube　*サイズ幅100％表示したい場合は、SP用のCSSソースを流用してください。
------------------------------------------*/

.video-container {
	text-align: center;
}
.video-container iframe {
	width: 640px; /*youtubeでしてタグ吐出し時にサイズ調整をしてその際のサイズを入れる*/
	height: 360px; /*youtubeでしてタグ吐出し時にサイズ調整をしてその際のサイズを入れる*/
}
/*------------------------------------------
■ フォーム部分
------------------------------------------*/

.form_area {
	margin: 40px auto;
}
/* --フォームテーブルの部分-- */
.table_box {
	border-top: 1px dashed #666666;
	margin: 15px auto;
	width: 800px;
}
.inq_box {
	border-bottom: 1px dashed #666666;
	display: block;
	font-size: 16px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 20px;
}
.inq_box_top {
	border-top: #cccccc 1px solid;
}
.inq_box_title {
	border-left: 8px solid #40a5ec;
	float: left;
	font-weight: bold;
	line-height: 150%;
	margin-top: 20px;
	padding-left: 12px;
	width: 260px;
}
.inq_box_txt {
	display: block;
	float: left;
	line-height: 140%;
	padding-left: 20px;
	padding-top: 20px;
	width: 450px;
}
input, textarea, select {
	font-size: 16px;
	margin: 5px auto;
	padding: 5px;
}
input[type=text]:focus, textarea:focus, select:focus {
	outline: 0;
	background-color: #FFFFDD;
}
/*------------------------------------------
■ フッター
------------------------------------------*/
#footer {
	display: block;
	font-size: 14px;
	line-height: 180%;
	text-align: center;
	width: 100%;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 25px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
	height: auto;
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #40a5ec;
}
.copyright {
	background-color: #40a5ec;
	color: #FFFFFF;
	height: 40px;
	margin: 15px auto 0;
	padding-top: 15px;
}
/*■■■■■■■■■■■■■■■■■■■■■■
　　サブページ設定
■■■■■■■■■■■■■■■■■■■■■■*/

/*------------------------------------------
■ サブページ共通
------------------------------------------*/
.sub_page_title {
	background-color: #40a5ec;
	border-bottom: 3px solid #CCCCCC;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
	margin: 20px 0;
	padding: 20px 0 15px;
	text-align: center;
}
#order_page, #privacypolicy, #company, #law, #order_end {
	line-height: 140%;
	margin: 0 30px;
	padding: 5px 0;
	min-height: 600px;
}
#privacypolicy, #company, #law {
	font-size: 14px;
	line-height: 140%;
}
/* 別々に指定したければ、分けてください*/

/*------------------------------------------
■ プライバシーポリシーページ設定
------------------------------------------*/
#pp_page {
}
.sub_page_h {
	border-bottom: 2px solid #CCCCCC;
	font-size: 18px;
	font-weight: bold;
	line-height: 130%;
	margin: 0 0 15px;
	padding: 5px 0 3px;
}
/*------------------------------------------
■ 特定商取引法に基づく表記
------------------------------------------*/



/*------------------------------------------
■ 会社概要
------------------------------------------*/




/*------------------------------------------
■ 新要素　ページトップへ戻るボタン
------------------------------------------*/
#go_top {
	padding: 0px;
	width: 100%;
	max-width: 920px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: fixed;
	z-index: 999;
	bottom: 0px;
	font-size: 12px;
	line-height: 18px;
	display: none;
}
#go_top a {
	background-color: #666666;
	padding: 6px;
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0px 0px 2px #CCCCCC, 0px 0px 2px #CCCCCC inset;
	color: #FFF;
	display: block;
	float: right;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-left-color: #333333;
}
/*------------------------------------------
■ 新要素　トップナビゲーション
------------------------------------------*/
#top_nav {
	width: 100%;
	height: 50px;/*ここの高さ幅はJavascriptと絡んでいます。変更したい時は個別でnav.jsをアップして調整してください*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: fixed;
	top: -50px;/*ここの高さ幅はJavascriptと絡んでいます。変更したい時は個別でnav.jsをアップして調整してください*/
	z-index: 999;
	background-color: transparent;
	background-image: url(../img/top_nav_bg.png);/*透過のグレー画像入れてます。背景画像変えたい場合は、基本縦幅50PXまでで作成して置き換えてください。透過させたい時は透明度を設定したpngで。*/
	background-repeat: repeat;
	background-position: 0px 0px;
}
#top_nav_in {
	padding: 0px;
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#top_nav_in .top_nav_left {
	margin: 0px;
	padding: 0px;
	float: left;
}
#top_nav_in .top_nav_left ul {
	list-style-type: none;
	margin: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
#top_nav_in .top_nav_left ul li {
	padding: 0px;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: inline-block;
 *display:inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}
#top_nav_in .top_nav_left ul li a {
	display: block;
	background-color: rgba(102,102,102,0.6);
	border: 1px solid #000000;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 0px 2px #CCCCCC, 0px 0px 2px #CCCCCC inset;
	color: #FFF;
	font-size: 14px;
	line-height: 18px;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 2px;
}
#top_nav_in .top_nav_left ul li a:hover {
	background-color: rgba(102,102,102,1.0);
}
#top_nav_in .top_nav_right {
	margin: 0px;
	padding: 0px;
	float: right;
}
#top_nav_in .top_nav_right .top_nav_tel {
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	text-indent: -5px;
 text-align:center;
}
#top_nav_in .top_nav_right .top_nav_tel span {
	color: #FF0000;
}
#top_nav_in .top_nav_right .top_nav_tel a.plain {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	white-space: nowrap;
	cursor: default;
}
#top_nav_in .top_nav_btn {
	float: right;
}
/*------------------------------------------
■ 新要素　SPナビゲーション
------------------------------------------*/
.sp_nav {
	display: none;
}
/*------------------------------------------
■ 新要素　イメージリストエリア（ライトボックス風　サムネイルクリックで拡大写真）
施工事例や店内・院内風景などにご使用ください。※デフォルトで3パーターンレイアウトを用意しました。
------------------------------------------*/
/*レイアウトパターン１*/
.img_list_area_1 {
	padding: 0px;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.thumbnail_bg{
	background: url("../img/bg03.gif") repeat scroll center 0 transparent;
 box-shadow:0px 2px 2px #cccccc;
 padding:20px;
 margin-top:20px;
 margin-bottom:20px; 
}

.thumbnail_shadow{ box-shadow:0px 6px 3px #999999;
}

.img_list_area_1 .thumbnail {
	float: left;
	width: 400px;
}
.img_list_area_1 .thumbnail img {
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}
.img_list_area_1, .thumbnail_notes {
	clear: both;
	font-size: 80%;
 text-align:right;
 background-color:#ccc;
 box-shadow:0px 2px 2px #cccccc;
 margin:10px auto;
}
.img_list_area_1 .text_block {
	float: right;
	width: 375px;
}
.img_list_area_1 .text_block img {
}
.img_list_area_1 table {
	font-size: 16px;
	margin: 0px;
	width: 100%;
}
.img_list_area_1 table th {
	width: 30%;
	background-color: #EFEFEF;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
}
.img_list_area_1 table td {
	width: 70%;
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
}
/*レイアウトパターン２*/

.img_list_area_2 {
	width: 840px;
	padding: 0px;
	height: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}
.img_list_area_2 .thumbnail {
	float: right;
	width: 465px;
}
.img_list_area_2 .thumbnail img {
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}
.img_list_area_2 .thumbnail_notes {
	clear: both;
	font-size: 12px;
	text-align: right;
}
.img_list_area_2 .text_block {
	float: left;
	width: 375px;
}
.img_list_area_2 .text_block img {
	padding-bottom: 30px;
}
.img_list_area_2 table {
	font-size: 16px;
	margin: 0px;
	width: 100%;
	clear: both;
}
.img_list_area_2 table th {
	width: 30%;
	background-color: #EFEFEF;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
}
.img_list_area_2 table td {
	width: 70%;
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
}
/*レイアウトパターン３*/

.img_list_area_3 {
	width: 840px;
	padding: 0px;
	height: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}
.img_list_area_3 .thumbnail {
	clear: both;
}
.img_list_area_3 .thumbnail img {
	float: left;
	padding-right: 4px;
	padding-bottom: 4px;
	border: 2px solid #FFFFFF;
	box-shadow: 3px 3px 3px #CCCCCC;
	margin: 0px 10px 10px 0px;
}
.img_list_area_3 .thumbnail_notes {
	clear: both;
	font-size: 12px;
	text-align: right;
}
.img_list_area_3 .text_block {
	clear: both;
}
.img_list_area_3 .text_block img {
}
.img_list_area_3 table {
	font-size: 16px;
	margin: 0px;
	width: 50%;
}
.img_list_area_3 table th {
	width: 30%;
	border: 1px solid #EFEFEF;
	font-weight: normal;
	line-height: 140%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
}
.img_list_area_3 table td {
	width: 70%;
	background-color: #FFFFFF;
	line-height: 150%;
	padding: 10px 20px;
	text-align: left;
	border: 1px solid #CCCCCC;
}
