@charset "utf-8";
/*■■■■■■■■■■■■■■■■■■■■■■
　　共通設定
■■■■■■■■■■■■■■■■■■■■■■*/

/*
ベースカラー設定　青　で設定されています。
検索置き換えなどを使用して、（#40a5ec）を変更調整して使用してください。
*/

/*------------------------------------------
■ CSS初期設定
------------------------------------------*/
html {
	color: #000;
	background: #FFF;
	font-size:0.9em;
}
* {
	margin: 0;
	padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
img {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
th, td {
	border: 1px solid #000;
	padding: .5em;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/*------------------------------------------
■ リンク設定
------------------------------------------*/
a img {
	border: none;
}
a {
	color: #0066cc;
	text-decoration: none;
}
a:hover {
}
a:visited {
	color: #993399;
	text-decoration: underline;
}
/*------------------------------------------
■ リンク画像のhover半透明化設定
------------------------------------------*/
a:hover img {
}
/*------------------------------------------
■ float対策
------------------------------------------*/
.fcl {
	zoom: 100%;
}
.fcl:after {
	content: " ";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
/*------------------------------------------
■ 画像回り込み
------------------------------------------*/
.img_left {
	display: block;
	margin: 10px auto;
	text-align: center;
}
.img_right {
	display: block;
	margin: 10px auto;
	text-align: center;
}
.img_center {
	display: block;
	margin: 0 auto;
	clear: both;
}
/*------------------------------------------
■ テキスト装飾
------------------------------------------*/
.txt_bold {
	font-weight: bold;
}
.txt_small {
	font-size: 75%;
}
.txt_big {
	font-size: 120%;
}
.txt_right {
	text-align: right;
}
.txt_red {
	color: #cc0000;
}
.txt_blue {
	color: #0066cc;
}
.txt_keycolor {
	color: #40a5ec;
}
.txt_marker {
	background-color: #FFFF00;
}
.txt_underline {
	border-bottom: #cccccc 1px dotted;
	margin-bottom: 2px;
}

/*------------------------------------------
■ 枠　1.枠なし　２～４枠のみ　５～７バック有
------------------------------------------*/
.circle{padding:20px; margin:0 10px;}
.circle2{border: dotted 2px #D6EAD4; padding:5px 10px; margin:10px auto; clear:both;}
.circle3{border: dotted 2px #D1ECF8; padding:5px 10px; margin:10px auto; clear:both;}
.circle4{border: dotted 2px #fbdac6; padding:5px 10px; margin:10px auto; clear:both;}
.circle5{border: dotted 2px #bbb3d8; padding:5px 10px; margin:10px auto; clear:both;}
.circle6{border: dotted 2px #f7c9dd; padding:5px 10px; margin:10px auto; clear:both;}


/*------------------------------------------
■ テキスト間隔
------------------------------------------*/
.txt_mt10{margin-top:10px;}
.txt_mt20{margin-top:20px;}
.txt_mt30{margin-top:30px;}
.txt_mb10{margin-bottom:10px;}
.txt_mb20{margin-bottom:20px;}
.txt_mb30{margin-bottom:30px;}




/*------------------------------------------
■ PC・スマホ切り替え用
------------------------------------------*/
.pc_none {
}
.sp_none {
	display: none;
}
.size_s {
	width: 120px;
}
.size_m {
	width: 180px;
}
.size_l {
	width: 220px;
}
.max_w {
	max-width: 100%;
}
/*■■■■■■■■■■■■■■■■■■■■■■
　　各コンテンツ　【　基本設定　】
■■■■■■■■■■■■■■■■■■■■■■*/

/*------------------------------------------
■ メイン設定
------------------------------------------*/
body {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Geneva, Arial, Verdana, sans-serif;
	color: #333333;
}
#wrap {
	position: relative;
}
#frame {
}
#main {
	width: 96%;
	margin: 0 auto;
}
/*------------------------------------------
■ h1エリア
------------------------------------------*/
h1 {
	background-color: #40a5ec;
	color: #FFFFFF;
	display: block;
	font-size: 10px;
	margin: 0 auto;
	padding: 0;
}
.h1_txt {
	display: block;
	margin: 0;
	padding: 4px 10px;
}
/*------------------------------------------
■ ヘッダーエリア
------------------------------------------*/
#header {
	display: none;
}
/*------------------------------------------
■TOP画像エリア
------------------------------------------*/
#top {
	max-width: 100%;
}
#top h2 {
	text-align: center;
	margin: 0px auto;
	padding: 0px;
	display:block;
}
/*------------------------------------------
■オーダー（お申込み）エリア
------------------------------------------*/
.order {
	border: 5px solid #40a5ec;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 2px #CCCCCC;
	margin: 10px auto;
	padding: 1px 1px 10px;
	text-align: center;
}
.order_area {
}

h4.copy {
	background: none repeat scroll 0 0 #40a5ec;
	color: #FFFFFF;
	font-size: 13px;
	padding: 5px 10px;
}


/*　▼営業時間▼　*/
.order p.txt_cap, .order p.order_time {
	font-size: 11px;
	font-weight: bold;
	line-height: 100%;
	padding: 5px 0;
}
/*　▼TEL番号エリア▼　*/
.order_tel {
	margin: 5px 10px;
}
.order a.txt_tel {
	color: #333333;
	display: block;
	font-family: Meiryo, メイリオ, sans-serif;
	font-size: 26px;
	font-weight: bold;
	line-height: 120%;
	text-align: center;
	white-space: nowrap;
}
/*　▼ボタンエリア▼　*/
.order_mail {
	padding-top: 0px;
	text-align: center;
}
.order_btn {
	margin: 0 auto;
	max-width: 92%;
}
/*------------------------------------------
■ h3タイトル
（※スマートフォンでは、背景画像を消してテキストタイトルを表示させてください）
------------------------------------------*/
h3 {
	background-color: #40a5ec;
	border-bottom: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	border-right: 1px solid #CCCCCC;
	color: #FFFFFF;
	display: block;
	font-size: 15px;
	font-weight: bold;
	line-height: 120%;
	margin: 15px auto 10px;
	padding: 10px;
}
/*------------------------------------------
■ サブタイトル装飾（基本値）
------------------------------------------*/
.sub_title_a {
	border-left: 8px solid #40a5ec;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding-left: 10px;
}

.sub_title_a2 {
	border-left: 8px solid #D6EAD4;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding-left: 10px;
}

.sub_title_b {
	border-bottom: 3px solid #40a5ec;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 5px 0;
}
.sub_title_c {
	border-bottom: 1px solid #40a5ec;
	border-left: 10px solid #40a5ec;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 0 10px 5px;
}

.sub_title_c2 {
	border-bottom: 1px solid #D6EAD4;
	border-left: 10px solid #D6EAD4;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 0 10px 5px;
}

.sub_title_c3 {
	border-bottom: 1px solid #ff9000;
	border-left: 10px solid #ff9000;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 0 10px 5px;
}

.sub_title_c4 {
	border-bottom: 1px solid #fbdac6;
	border-left: 10px solid #fbdac6;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 0 10px 5px;
}

.sub_title_c5 {
	border-bottom: 1px solid #bbb3d8;
	border-left: 10px solid #bbb3d8;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 0 10px 5px;
}

.sub_title_c6 {
	border-bottom: 1px solid #f7c9dd;
	border-left: 10px solid #f7c9dd;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 0 10px 5px;
}

.sub_title_d, .sub_title_x {
	background-color: #ff9000;
	border-bottom: 2px solid #CCCCCC;
	border-right: 2px solid #CCCCCC;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 130%;
	margin: 5px auto;
	padding: 10px 20px 8px;
}
.sub_title_e {
	font-family: "HGP創英角ｺﾞｼｯｸUB";
	font-size: 120%;
	line-height: 130%;
	margin: 5px;
	padding: 5px 0 6px;
}
.sub_title_f {
	background-color: #F8F3E7;
	border-left: 15px solid #40a5ec;
	box-shadow: 1px 1px 1px #CCCCCC;
	color: #000000;
	line-height: 130%;
	margin: 5px 0 5px;
	padding: 8px 10px 6px;
}
.sub_title_bg {
	background-color: #F8F3E7;
	color: #000000;
	line-height: 130%;
	margin: 5px 0 5px;
	padding: 8px 10px 6px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 15px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #40a5ec;
	border-right-color: #40a5ec;
	border-bottom-color: #40a5ec;
	border-left-color: #40a5ec;
}
/*------------------------------------------
■　section, box, txt_area
------------------------------------------*/
.section {
	clear: both;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.box {
	margin: 0px auto;
	clear: both;
}
.box_bg {
	background: url("../img/bg07.gif") repeat scroll center 0 transparent;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 2px #CCCCCC;
	margin: 10px auto;
	padding: 5px 10px 10px;
}
.box_border {
	background-color: #FCFAF8;
	border: 5px double #CCCCCC;
	margin: 10px auto;
	padding: 5px 10px 10px;
}
.txt_area {
	padding: 0px;
}
.txt_area3 {
 clear:both;
	padding: 0px;
}

.com{
	background: url("../img/com.jpg") no-repeat scroll left 0 transparent;
 width:33%;
 height:57px;
 float:left;
 }
.com_txt{
 font-size:80%;
 font-weight:bold;
 text-align:center;
 padding-top:10px; 
}
.com_txt2{
 font-size:80%;
 font-weight:bold;
 text-align:center;
 padding-top:10px; 
}


.box3 {
 background-color:#fffbcc;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 2px #CCCCCC;
padding:10px 10px;
}

.txt_area {
	padding: 0px;
}

.txt_area2 {
 background-color:#fff;
	padding: 10px;
 border-radius:5px;
}

.txt_area5 {
 background-color:#fff;
	padding: 10px;
 border-radius:5px;
}


.txt_area_bg {
	background-color: #fdfbf6;
	border: 1px solid #d5cfba;
	margin: 10px auto;
	padding: 10px;
}
.txt_area_border {
	background-color: #FFFFFF;
	border: 1px solid #D5CFBA;
	margin: 10px auto;
	padding: 10px;
}
/*■■■■■■■■■■■■■■■■■■■■■■
　　流用コンテンツ　【　良く使うカテゴリ　】
■■■■■■■■■■■■■■■■■■■■■■*/

/*------------------------------------------
■ リストのチェックアイコン
------------------------------------------*/
ul {
	list-style: none outside none;
}
ul li.icon_check {
	background: url("../img/icon_check_small.png") no-repeat scroll 0 6px transparent;
	padding: 4px 4px 4px 24px;
}
/*------------------------------------------
■ list_box
------------------------------------------*/
.list_box_01 {
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #F1F1F1;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #CCCCCC;
	margin: 10px auto;
	padding: 10px;
}
/*------------------------------------------
■ 特徴BOX
------------------------------------------*/
.box_m {
	background-color: #f1dae9;
	border-radius: 10px 10px 10px 10px;
	margin: 0;
	padding: 0 0 10px;
}

.box_m2 {
	background-color: #FAAF5C;
	border-radius: 10px 10px 10px 10px;
	margin: 0;
	padding: 10px;
 box-shadow:0px 2px 2px #ccc;
}

.box_m3 {
	background-color: #7bc9ff;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 10px;
	padding: 10px;
 box-shadow:0px 2px 2px #ccc;
}

.box_m4 {
	background-color: #d1ecf8;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 10px;
	padding: 10px;
 box-shadow:0px 2px 2px #ccc;
}

.box_m5 {
	background-color: #fbdac6;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 20px;
	padding: 10px;
 box-shadow:0px 2px 2px #ccc;
}
.box_m6 {
	background-color: #bbb3d8;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 20px;
	padding: 10px;
 box-shadow:0px 2px 2px #ccc;
}



.box_m7 {
	background-color: #f7c9dd;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 20px;
	padding: 10px;
 box-shadow:0px 2px 2px #ccc;
}



.box_m_txt {
	background-color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	margin: 0 10px;
	padding: 10px;
}
.box_m_set {
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 5px;
}
.sub_title_m {
	border-bottom: 2px dotted #f48500;
	font-weight: bold;
	line-height: 170%;
	margin: 10px auto;
	padding: 0;
}
.m_block {
	display: block;
	background-color: #F4F5E0;
	border-left: 10px solid #40a5ec;
	box-shadow: 1px 1px 1px #999999;
	font-size: 80%;
	margin-right: 15px;
	padding: 3px 10px;
}
.p_icon {
	float: left;
	margin: 0 5px 0 0;
	width: 40px;
}
/*------------------------------------------
■ box_e
------------------------------------------*/
.box_e {
	background-color: #40a5ec;
	border-radius: 5px 5px 5px 5px;
	margin: 10px auto;
	padding: 10px 0 5px;
}
.box_e_title {
	color: #FFFFFF;
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	font-weight: bold;
	text-align: center;
}
.box_e .box_e_in {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Geneva, Arial, Verdana, sans-serif;
	background: #FCF8F2;
	margin: 10px;
	padding: 10px;
	font-size: 90%;
}
/*------------------------------------------
■ フロートボックス width: 216pxにすれば3つ横に並ぶよ。
------------------------------------------*/
.con2_1, .con2_2, .con2_3, .con2_4 {
	background-color: #FDFBF6;
	border: 1px solid #D5CFBA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 2px 2px #CCCCCC;
	margin: 10px 0;
	padding: 10px;
}
.con2_title {
	border-bottom: 3px dotted #40a5ec;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
/*------------------------------------------
■ 新要素　グリッドデザイン（新フロートボックス）
------------------------------------------*/

/*▼スマホでフロートさせない場合はコチラ*/

.gd_box {
	margin: 0px auto;
	clear: both;
}
.gd_1-2, .gd_1-3, .gd_2-3, .gd_1-4, .gd_3-4 {
	padding: 0px;
	clear: both;
}
/*▼スマホでもフロートさせたい場合はコチラ
.gd_box {
	letter-spacing: -0.34em;
*letter-spacing:normal;
*word-spacing:-0.43em;
	text-rendering: optimizespeed;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap
}
.gd_1-2, .gd_1-3, .gd_2-3, .gd_1-4, .gd_3-4 {
	display: inline-block;
*display:inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto
}
.gd_1-2 {
	width: 50%;
 *width: 49.9690%;
}
.gd_1-3 {
	width: 33.3333%;
 *width: 33.3023%;
}
.gd_2-3 {
	width: 66.6667%;
 *width: 66.6357%;
}
.gd_1-4 {
	width: 25%;
 *width: 24.9690%;
}
.gd_3-4 {
	width: 75%;
 *width: 74.9690%;
}
.gd_box:after {
	content: " ";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}
*/

/*------------------------------------------
■ POINT
------------------------------------------*/
.point_title {
	border-bottom: 2px dotted #40a5ec;
	color: #AA0000;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
}
	
/*------------------------------------------
■ STEP
------------------------------------------*/
.step_area {
 background-color: #FFFFFF;
 border: 2px solid #DEDBB7;
 margin: 10px auto;
 padding: 0 10px 10px;
}
.step_title {
	border-bottom: 2px dashed #f48500;
	color: #412C1B;
	font-weight: bold;
	line-height: 160%;
	margin: 10px 0;
	padding: 0 0 5px;
}
.s_block {
	background-color: #f48500;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: block;
	font-size: 96%;
	padding: 0 5px;
	text-align: center;
	width: 20%;
 float:left;
 margin-right:5px;
}
/*------------------------------------------
■ お客様の声
------------------------------------------*/
.voice_area {
}
.voice {
	background: url("../img/bg03.gif") repeat scroll 0 0 transparent;
	border-radius: 5px;
	box-shadow: 0 0 5px #CCCCCC, 0 0 5px #CCCCCC inset;
	font-size: 96%;
	margin: 0 auto 20px;
	padding: 15px;
}
/*------------------------------------------
■ 良くある質問
------------------------------------------*/
.faq2{
background-color: #FDFBF6;
border: 1px dashed #D5CFBA;
margin: 10px auto;
padding: 5px 10px;
}
.faq_q2{

background: url("../img/icon_q.gif") no-repeat scroll 0 0 transparent;

 border-bottom: 2px solid #319FC8;
 color: #319FC8;
font-weight: bold;
margin: 10px auto;
padding: 0 0 5px 40px;
height:44px;

}
.faq_a2{

background: url("../img/icon_a.gif") no-repeat scroll 0 0 transparent;

margin: 10px auto;
padding: 0 0 5px 40px;

}
/*------------------------------------------
■ ブロック
------------------------------------------*/
.block_left {
	background-color: #EFEFEF;
}
.block_right {
	background-color: #cccccc;
}
.room {
	padding: 10px;
}
/*------------------------------------------
■ アクセス
------------------------------------------*/
.map_area {
	font-size: 12px;
	margin: 15px auto;
}
.map_in {
	display: block;
	height: 300px;
	margin: 0 auto;
	width: 100%;
}
.map_area2 {
	font-size: 12px;
	margin: 0px auto;
}
.map_in2 {
	display: block;
	height: 300px;
	margin: 0 auto;
	width: 100%;
}

/*------------------------------------------
■ テーブル
------------------------------------------*/
.table01 {
	font-size: 70%;
	margin: 10px auto;
	width: 100%;
}
.table01 th {
	background-color: #EFEFEF;
	padding: 5px 5px;
	text-align: left;
	width: 30%;
	border: 1px solid #cccccc;
}
.table01 td {
	padding: 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}

.table00 {
	font-size: 70%;
	margin: 10px auto;
	width: 100%;
}
.table00 th {
	background-color: #EFEFEF;
	padding: 5px 5px;
	text-align: left;
	width: 30%;
	border: 1px solid #cccccc;
}
.table00 td {
	padding: 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}

.table01 {
	font-size: 70%;
	margin: 10px auto;
	width: 100%;
}
.table01 th {
	background-color: #D6EAD4;
	padding: 5px 5px;
	text-align: left;
	border: 1px solid #cccccc;
 width:25%;
 
}
.table01 td {
	padding: 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}


.table02 {
	font-size: 70%;
	margin: 10px auto;
	width: 100%;
}
.table02 th {
	background-color: #D1ECF8;
	padding: 5px 5px;
	text-align: left;
	border: 1px solid #cccccc;
 width:25%;
}
.table02 td {
	padding: 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}

.table03 {
	font-size: 70%;
	margin: 10px auto;
	width: 100%;
}
.table03 th {
	background-color: #FBDAC6;
	padding: 5px 5px;
	text-align: left;
	border: 1px solid #cccccc;
 width:25%;
}
.table03 td {
	padding: 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}

.table04 {
	font-size: 70%;
	margin: 10px auto;
	width: 100%;
}
.table04 th {
	background-color: #bbb3d8;
	padding: 5px 5px;
	text-align: left;
	border: 1px solid #cccccc;
 width:25%;
}
.table04 td {
	padding: 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}


.table05 {
	font-size: 70%;
	margin: 10px auto;
	width: 100%;
}
.table05 th {
	background-color: #f7c9dd;
	padding: 5px 5px;
	text-align: left;
	border: 1px solid #cccccc;
 width:25%;
}
.table05 td {
	padding: 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
}
/*------------------------------------------
■ youtube
------------------------------------------*/

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 10px 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*------------------------------------------
■ フォーム部分
------------------------------------------*/

.form_area {
	margin: 40px auto;
}
/* --フォームテーブルの部分-- */
.table_box {
	border-top: #666666 1px dashed;
	margin: 10px auto;
}
.inq_box {
	display: block;
	margin: 0 auto;
	padding: 0 0 20px 0;
	border-bottom: #666666 1px dashed;
	overflow: hidden;
}
.inq_box_title {
	border-left: 8px solid #40a5ec;
	display: block;
	font-weight: bold;
	margin: 10px auto 0;
	padding-left: 5px;
}
.inq_box_txt {
	display: block;
	float: left;
	line-height: 140%;
	margin: 0 auto;
	padding-bottom: 0;
	padding-left: 0;
	padding-top: 10px;
}
input, textarea, select {
	font-size: 14px;
	margin: 5px auto;
	padding: 5px;
}
input[type=text]:focus, textarea:focus, select:focus {
	outline: 0;
	background-color: #FFFFDD;
}
/*------------------------------------------
■ フッター
------------------------------------------*/
#footer {
	background: #ffffff;
	display: block;
	text-align: center;
	margin: 10px auto 0;
	padding: 0px 0 10px 0;
	font-size: 12px;
	line-height: 1.8;
}
.footer_btn {
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%, #dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfcfc 0%, #dbdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dbdbdb', GradientType=0 ); /* IE6-9 */
	border: 1px solid #E6E6E6;
	box-shadow: 0 1px 2px #CCCCCC;
	text-shadow: 0 1px 0 #EEEEEE;
	color: #000000;
	display: block;
	font-weight: bold;
	padding: 8px 10px;
	text-align: left;
}
#footer a {
	font-size: 14px;
}
.copyright {
	margin-top: 15px;
	font-size: 10px;
	padding-bottom: 50px;
}
/*■■■■■■■■■■■■■■■■■■■■■■
　　サブページ設定
■■■■■■■■■■■■■■■■■■■■■■*/

/*------------------------------------------
■ サブページ共通
------------------------------------------*/
.sub_page_title {
	background-color: #40a5ec;
	border-bottom: 3px solid #CCCCCC;
	color: #FFFFFF;
	font-weight: bold;
	margin: 10px 0;
	padding: 12px 0 10px;
	text-align: center;
}
#order_page, #privacypolicy, #company, #law, #order_end {
	font-size: 14px;
	line-height: 140%;
	margin: 0 auto;
	padding: 10px 0;
}
/* 別々に指定したければ、分けてください*/

/*------------------------------------------
■ プライバシーポリシーページ設定
------------------------------------------*/
#pp_page {
}
.sub_page_h {
	background: none no-repeat scroll 0 0 #EFEFEF;
	border-bottom: 2px solid #CCCCCC;
	border-right: 2px solid #CCCCCC;
	font-weight: bold;
	margin: 20px 0 5px;
	padding: 5px 10px;
}
/*------------------------------------------
■ 特定商取引法に基づく表記
------------------------------------------*/

/*------------------------------------------
■ 会社概要
------------------------------------------*/

/*------------------------------------------
■ 新要素　ページトップへ戻るボタン
------------------------------------------*/
#go_top {
	display: none;
}
#go_top a {
	display: none;
}
/*------------------------------------------
■ 新要素　トップナビゲーション
------------------------------------------*/
#top_nav {
	display: none;
}
/*------------------------------------------
■ 新要素　SPナビゲーション
------------------------------------------*/
.sp_nav {
	position: fixed;
	width: 100%;
	line-height: 100%;
	text-align: left;
	display: block;
	background-color: rgba(255,255,255,0.9);
	padding: 5px;
	bottom: 0px;
}
.sp_nav .sp_menu_title label {
	float: left;
	padding-right: 5px;
}
.sp_nav .sp_menu_title label img {
	max-width:40px;
}
.sp_nav input[type="checkbox"].on-off {
	display: none;
}
.sp_nav ul {
	margin: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
@media only screen and (orientation:landscape) {
.sp_nav li {
	float: left;
	width: 33.3023%;
	padding: 0px;
	padding-left: 0px;
	max-height: 24px;
	font-size: 10px;
	letter-spacing: -0.2em;
}
}
@media only screen and (orientation:portrait) {
.sp_nav li {
	float: left;
	width: 49.9690%;
	padding: 0px;
	padding-left: 0px;
	max-height: 24px;
	font-size: 11px;
}
}
.sp_nav li a {
	width: 100%;
	text-indent: 5px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-color: #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	line-height: 18px;
}
.sp_nav input[type="checkbox"].on-off + ul {
	height: 0;
	overflow: hidden;
	padding: 0;
}
.sp_nav input[type="checkbox"].on-off:checked + ul {
	height: auto;
	padding: 3px;
}
.sp_nav .sp_nav_tel {
	font-size: 10px;
	text-indent: -0.5em;
}
.sp_nav .sp_nav_tel a.plain {
	color: #CC0000;
	font-family: Meiryo, メイリオ, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
/*------------------------------------------
■ 新要素　イメージリストエリア（ライトボックス風　サムネイルクリックで拡大写真）
施工事例や店内・院内風景などにご使用ください。
------------------------------------------*/
.img_list_area_1, .img_list_area_2, .img_list_area_3 {
	width: 100%;
	padding-left: 7px;
	height: auto;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.img_list_area_1 .thumbnail, .img_list_area_2 .thumbnail, .img_list_area_3 .thumbnail {
	clear: both;
	padding: 0px;
	margin: 0px auto;
	width: auto;
}
.img_list_area_1 .thumbnail img, .img_list_area_2 .thumbnail img, .img_list_area_3 .thumbnail img {
	padding: 0px 3px 3px 0px;
	width: 30%;
	max-width: 140px;
}
.img_list_area_1 .thumbnail_notes, .img_list_area_2 .thumbnail_notes, .img_list_area_3 .thumbnail_notes {
	font-size: 80%;
	text-align: right;
}
.img_list_area_1 .text_block, .img_list_area_2 .text_block, .img_list_area_3 .text_block {
	clear: both;
}
.img_list_area_1 .text_block img, .img_list_area_2 .text_block img, .img_list_area_3 .text_block img {
	display: block;
	margin: 0 auto;
	clear: both;
}
.img_list_area_1 table, .img_list_area_2 table, .img_list_area_3 table {
	width: 100%;
	margin: 10px auto;
}
.img_list_area_1 table th, .img_list_area_2 table th, .img_list_area_3 table th {
	width: 30%;
	background-color: #EFEFEF;
	padding: 5px;
	text-align: left;
	font-weight: normal;
	border: 1px solid #cccccc;
}
.img_list_area_1 table td, .img_list_area_2 table td, .img_list_area_3 table td {
	width: 70%;
	background-color: #FFFFFF;
	padding: 5px;
	text-align: left;
	border: 1px solid #cccccc;
}

.bx-wrapper .bx-controls-direction a {
    height: 32px;
    margin-top: -16px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 113%;
    width: 32px;
    z-index: 555;
}
