<div class="offers form">
<?php echo $this->Form->create('Offer'); ?>
	<fieldset>
		<legend><?php echo __('Add Offer'); ?></legend>
	<?php
		echo $this->Form->input('station');
		echo $this->Form->input('grade');
		echo $this->Form->input('gender');
		echo $this->Form->input('frequency');
		echo $this->Form->input('day_week');
		echo $this->Form->input('detail');
		echo $this->Form->input('kanri_no');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Offers'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Entries'), array('controller' => 'entries', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Entry'), array('controller' => 'entries', 'action' => 'add')); ?> </li>
	</ul>
</div>
