<form action="/sp/users/login" id="UserLoginForm" method="post" accept-charset="utf-8">
<div style="display:none;"><input name="_method" value="POST" type="hidden"></div>

<!-- 
<div class="input text"><label class="ui-input-text" for="UserUsername">Username</label><input class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" name="data[User][username]" maxlength="255" value="" id="UserUsername" type="text"></div>
 -->
<input type="hidden" name="data[User][username]" value="user1">

<div class="input password"><label class="ui-input-text" for="UserPassword">パスワード入力</label>
<input class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" name="data[User][password]" value="" id="UserPassword" type="password"></div>

<div class="false">
<input class="ui-btn-hidden" value="送信" type="submit"></div>

</form>