/* BODYデフォルト */
body		{background-color: #DCDCDC;}

TD			{font-size: 12px;}
A:link		{color: #0000FF;text-decoration: none;}
A:visited	{color: #000099;text-decoration: none;}
A:hover		{color: #FF6600;text-decoration: none;}
A:active	{color: #CC0000;text-decoration: none;}


/* 基本ID */
#twhite		{background-color:#FFFFFF;}
#tblack 	{background-color:#000000;}
#tgray01	{background-color:#333333;}
#tgray02	{background-color:#666666;}
#tgray03	{background-color:#999999;}
#tgray04	{background-color:#DCDCDC;}
#tgray05	{background-color:#F5F5F5;}
#twine		{background-color:#FF0000;}
#tred		 { background-color: #c00 }
#tlblue  { background-color: #42c3fc }
#torange	{background-color:#FF9900;}
#tbeige		{background-color:#FFFFCC;}
#tyellow	{background-color:#FFCC00;}
#tgreen		{background-color:#009900;}
#tblue		{background-color:#000099;}
#twater		{background-color:#CCEEFF;}
#twater02	{background-color:#99CCCC;}
#tsky	{background-color:#5DC4DA;}
#fbold		{font-weight:bold;}
#fwhitebold	{color:#FFFFFF;font-weight:bold;}


/* フォントカラーCLASS */
.fbold		{font-weight:bold;}
.fwhitebold	{color:#FFFFFF;font-weight:bold;}
.fwine		{color:#FF0000;}
.fred		{color:#CC0000;}
.forange	{color:#FF9900;}
.fbeige		{color:#FFFFCC;}
.fyellow	{color:#FFCC00;}
.fgreen		{color:#009900;}
.fblue		{color:#000099;}
.fgray03	{color:#999999;}
.topcatch  { color: black; font-weight: normal; font-size: 12px }
.150   { line-height: 150% }
