/*　デフォルト　*/
P{font-size: 12px;line-height: 145%;}

/*　本文用　*/
.txt20{font-size: 20px; line-height: 145%;}
.txt14{font-size: 15px; line-height: 150%;}
.txt12{font-size: 12px; line-height: 145%;}
.txt10{font-size: 11px; line-height: 150%;}
.txt9{font-size: 10px; line-height: 145%;}

/*　キャプション用　*/
.txt20c{font-size: 20px; line-height: 130%;}
.txt14c{font-size: 15px; line-height: 125%;}
.txt12c{font-size: 12px; line-height: 125%;}
.txt10c{font-size: 11px; line-height: 130%;}
.txt9c{font-size: 10px; line-height: 125%;}

/*　行間指定なし　*/
.txt20n{font-size: 20px;}
.txt14n{font-size: 15px;}
.txt12n{font-size: 12px;}
.txt10n{font-size: 11px;}
.txt9n{font-size: 10px;}
