@charset "utf-8";
/* CSS Document */

/*背景設定*/
div#p{
	background-color:#FFF;
	color:#333;
	margin:10px;
	word-break:break-all;
}

a#001{
	text-decoration:none;
}
a#001:link{
	color:#C00;
}
a#001:visited{
	color:#C00;
}
a#001:hover{
	color:#C00;
}
a#001:active{
	color:#C00;
}

.float_left{
	float:left;
	margin-right:1em;
}

.float_right{
	float:right;
	margin-left:1em;
}

.float_clear{
	clear:both;
}

div#bg{
	background-color:#FFF;
	color:#333;
}

/*フッター*/
p#footer{
	position:absolute;
	left:45px;
	top:107px;
	color:#666;
}
