@charset "utf-8";
/* CSS Document */

body{
	font-size:12px;
	background-color:#FFF;
	color:#333
	width:480px;
	word-break:normal;
}

img{
   vertical-align:bottom;
   margin:0px;
   padding:0px;
}

li{
	padding:0px;
	font-size:1.5em;
}

div{
	padding:0px;
	margin:0px;
	word-break:normal;
}

p{
	line-height:1.6em;
	word-break:normal;
}

div.b1 a {
	height: 44px;
}

#float_base{
	position:relative;
}

/* view */

* {margin: 0px; padding: 0px;}

div.maxw {
	width: 100%;
}

div.maxw img {
	width: 100%;
}

div.maxw a img {
	width: 100%;
}

div.col4 {
	width: 25%; float: left;
}

div.col4 a img {
	width: 100%; height: auto;
}

#float_base{
	position:relative;
}

.center{
	text-align:center;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.fat_w{
	text-shadow:1px 0 1px #FFFFFF;
	font-size:1.2em;
}

.fat_b{
	text-shadow:1px 0 1px #000000;
	font-size:1.2em;
}

.bg_w{
	background-color:#FFF;
	color:#333;
}

.bg_b{
	background-color:#333;
	color:#FFF;
}

.bg_y{
	background-color:#FFF000;
	color:#333;
}

.f24{
	font-size:2em;
}

.f18{
	font-size:1.5em;
}

.fc_y{
	color:#fff100;
}

.fc_r{
	color:#e5004f;
}

.fc_g{
	color:#9fa0a0;
}
