<TABLE width="725" border="0" cellspacing="0" cellpadding="0">
<TR>
<TD width="152" height="73" rowspan="3" valign="bottom"><A href="../../"><IMG src="/library/images/common/co_logo.gif" alt="家庭教師＆個別指導塾の合格王" width="152" height="63" border="0"></A></TD>
<TD>&nbsp;</TD>
<TD height="52" align="right" valign="bottom"><IMG src="/library/images/common/co_tel.gif" alt="お電話での資料請求・ご相談は、0120-041-590（オーヨイ・ゴーカクオー）" width="193" height="42"></TD>
</TR>
<TR>
<TD width="373" height="1" background="/library/images/common/co_bar.gif"><IMG src="/library/images/common/co_spacer.gif" width="373" height="1"></TD>
<TD width="200" height="1" background="/library/images/common/co_bar.gif"><IMG src="/library/images/common/co_spacer.gif" width="200" height="1"></TD>
</TR>
<TR>
<TD class="txt10n">
<?php
$pass			= getcwd();
$dirname	= strrchr( $pass, "/" );
$hash		= array( "/news"=>"ニュース","/test"=>"テストアップ","/sitemap"=>"サイトマップ","/ht"=>"合格王について","/recruit"=>"講師登録情報・採用情報・講師募集","/profile"=>"会社案内","/campaign"=>"キャンペーン情報","/service"=>"無料お見積相談サービス","/contact"=>"資料請求・お問い合わせ","/mail"=>"携帯電話メールサービス" );

echo "&nbsp;&nbsp;<A href=\"/\">トップ</A>";
foreach ( $hash as $key => $value ) {
	if ( $key == $dirname ) {
		echo "&nbsp;>&nbsp;" . $value;
	}
}
?>
</TD>
<TD height="20" align="right" class="txt10n">
<!--<TABLE border="0" cellspacing="2" cellpadding="0">
<TR>
<TD><IMG src="/library/images/common/co_arw02.gif" width="6" height="6" hspace="3"></TD>
<TD class="txt10n"><A href="/mail/">電話番号を携帯電話にメールで送る</A></TD>
</TR>
</TABLE>-->
</TD>
</TR>
</TABLE>