
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link href="/library/css/base.css" rel="stylesheet" media="screen">

<body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
	<table width="725" border="0" cellspacing="0" cellpadding="0" height="78">
		<tr height="10">
			<td align="left" valign="bottom" width="152" height="10"></td>
			<td align="left" valign="top" width="573" height="10"></td>
		</tr>
		<tr height="68">
			<td align="left" valign="top" width="152" height="68"><A href="../../"><IMG src="/library/images/common/co_logo.gif" alt="家庭教師＆個別指導塾の合格王" width="152" height="63" border="0"></A></td>
			<td align="left" valign="top" width="573" height="68">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr height="16">
						<td align="left" valign="top" height="16">
							<table width="568" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="308"><?php
$pass			= getcwd();
$dirname	= strrchr( $pass, "/" );
$hash		= array( "/news"=>"ニュース","/test"=>"テストアップ","/sitemap"=>"サイトマップ","/ht"=>"合格王について","/recruit"=>"講師登録情報・採用情報・講師募集","/profile"=>"会社案内","/campaign"=>"キャンペーン情報","/service"=>"無料お見積相談サービス","/contact"=>"資料請求・お問い合わせ","/members"=>"会員専用ページ","/mail"=>"携帯電話メールサービス" );

echo "&nbsp;&nbsp;<A href=\"/\">トップ</A>";
foreach ( $hash as $key => $value ) {
	if ( $key == $dirname ) {
		echo "&nbsp;>&nbsp;" . $value;
	}
}
?></td>
									<td align="right" valign="top">
										<H1><span class="topcatch">家庭教師なら家庭教師＆個別指導の合格王</span></H1>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="52">
						<td align="right" valign="top" height="52">
							<table width="547" border="0" cellspacing="0" cellpadding="0" cool gridx="16" gridy="16" height="52" showgridx usegridx usegridy>
								<tr height="4">
									<td width="546" height="4" colspan="4"></td>
									<td width="1" height="4"><spacer type="block" width="1" height="4"></td>
								</tr>
								<tr height="1">
									<td width="424" height="1" colspan="3"></td>
									<td width="122" height="47" rowspan="2" valign="top" align="left" xpos="424"><a href="../../members/index.php"><img src="/library/images/common/index_menbers1.jpg" alt="会員専用ページ" height="41" width="120" border="0"></a></td>
									<td width="1" height="1"><spacer type="block" width="1" height="1"></td>
								</tr>
								<tr height="46">
									<td width="55" height="46"></td>
									<td width="164" height="46" valign="top" align="left" xpos="55"><a href="../../service/index.php"><img src="/library/images/common/co_service00.jpg" alt="無料お見積もり相談サービス実施中！" width="150" height="40" border="0"></a></td>
									<td width="205" height="46" valign="top" align="left" xpos="219"><img src="/library/images/common/co_tel.gif" alt="お電話での資料請求・ご相談は、0120-041-590（オーヨイ・ゴーカクオー）" width="193" height="42"></td>
									<td width="1" height="46"><spacer type="block" width="1" height="46"></td>
								</tr>
								<tr height="1" cntrlrow>
									<td width="55" height="1"><spacer type="block" width="55" height="1"></td>
									<td width="164" height="1"><spacer type="block" width="164" height="1"></td>
									<td width="205" height="1"><spacer type="block" width="205" height="1"></td>
									<td width="122" height="1"><spacer type="block" width="122" height="1"></td>
									<td width="1" height="1"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>



